* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f6f0e8;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

header {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
}

a {
  text-decoration: none;
  color: inherit;
}

nav a {
  font-weight: 700;
  font-size: 20px;
  color: #492118;
}

nav a + a {
  margin-left: 60px;
}

.logo {
  width: 50px;
}

.logo img {
  width: 100%;
}

/* main {
  padding: 0 24px;
} */

.hero-section {
  margin-top: 100px;
}
.img-container {
  max-width: 1200px;
  margin: 0 auto;
}

.hero-section p {
  color: #492118;
  text-align: center;
  font-size: 24px;
}
.section {
  margin-top: 140px;
}

.section .img-container {
  max-width: 900px;
  margin: 0 auto;
}

.img-container img {
  width: 100%;
}

.section h2 {
  font-weight: 700;
  font-size: 48px;
  color: #492118;
  text-align: center;
}

.go-to-top {
  text-align: right;
  max-width: 900px;
  margin: 0 auto;
  font-size: 32px;
  text-decoration: underline;
}

.made-with {
  text-align: center;
  color: #858585;
  font-size: 24px;
  margin-top: 32px;
}

.hero-section {
  margin-top: 40px;
}
.section {
  margin-top: 42px;
}

.close-icon {
  position: absolute;
  top: 8px;
  right: 12px;
  cursor: pointer;
  display: none;
}

.humburger-container {
  overflow: hidden;
  position: relative;
  width: 70px;
  height: 70px;
  display: none;
}
.humburger {
  font-size: 26px;
  position: absolute;
  bottom: 28px;
  left: 33px;
}

.humburger-menu {
  cursor: pointer;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  top: -126px;
  right: -126px;
  background-color: white;
}

.header-container {
  width: 1290px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  min-height: 100px;
}

@media screen and (max-width: 1200px) {
  nav a {
    font-size: 18px;
  }
  nav a + a {
    margin-left: 40px;
  }
  header {
    padding: 16px 24px;
  }
}
@media screen and (max-width: 950px) {
  nav a {
    font-size: 12px;
  }
  nav a + a {
    margin-left: 30px;
  }
}
@media screen and (max-width: 768px) {
  header {
    background-color: #f6f0ebb7;
    position: sticky;
    backdrop-filter: blur(8px);
    top: 0;
  }
  nav {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    flex-direction: column;
    right: 24px;
    top: 24px;
    padding: 24px;
    display: none;
    transition: right 0.3s ease-in-out;
  }
  nav a + a {
    margin: 0;
    margin-top: 16px;
  }
  .hero-section p {
    font-size: 16px;
  }
  .section h2 {
    font-size: 20px;
  }
  .close-icon,
  .humburger-container {
    display: block;
  }
  .menu-open nav {
    position: absolute;
    display: flex;
    right: 24px;
  }
  .menu-open .humburger-container {
    display: none;
  }
}
